@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root{
    --primary-color: rgb(244, 241, 252);
    --accent-color: rgb(121, 110, 160);
    --background-color: rgb(255,255,255);
    --warn-color: rgba(208, 73, 212, 0.598);
}

*{
    border: 0px solid red;
}

.main, .main>*{
    border: 0px solid red;
    
}

.primary-color{
    color: var(--primary-color);
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.933)), url(src/assets/images/1200x1200bf-60.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    font-size: 1.1rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

#main-form{
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 6%;
    padding: 4%;
    background-color: rgba(227, 229, 229, 0.001);
    backdrop-filter: blur(100px);
}

label{
    position: absolute;
    opacity: 0.9;
    color: var(--primary-color);
}

input{
    transition: 0.5s;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    width: 240px;
    height: 48px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--primary-color);
    font-size: 1.2rem;
}

input:valid {
    outline: none;
    border-bottom: 1px solid rgb(74, 206, 74);
}

input:invalid {
    outline: none;
    border-bottom: 1px solid  var(--warn-color);
}

input:focus{
    outline: none;
    border-bottom: 1px solid var(--primary-color);
}

button{
    font-family: 'Nanum Gothic', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    
    padding: 16px 0px 16px 2px;
    width: 180px;
    /* height: 32px; */
    border: solid 1px;
    border-radius: 4px;
    color: var(--warn-color);
    font-size: 16px;
}

button:hover{
    cursor: pointer;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.left-side{
    min-width: 40%;
    width: 40%;
    height: 100%;
    color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.933)), url(src/assets/images/1200x1200bf-60.jpg);
    backdrop-filter: blur(100px);
    background-repeat: no-repeat;
    background-size: 300%;
    background-color: rgba(47, 26, 52, 0.139);
    transition: 0.5s;
}

.left-side .banner{
    transition: 0.5s;
    max-width: 100%;
    width: auto;
    height: auto;
}

a{
    text-decoration: none;
    color: var(--warn-color);
}

@media screen and (max-width: 1150px){
    .left-side{
        width: 100%;
        height: 20%;
        color: var(--background-color);
        background-size: 100%;
        
    }

    .left-side .banner{
        max-width: 10%;
        height: auto;
        object-fit: contain;
    }

    body{
        width: 100%;
        height: auto;
        font-family: 'Nanum Gothic', sans-serif;
        padding: 0px;
        margin: 0px;
        justify-content: center;
        display: flex;
        background-image: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.933)), url(src/assets/images/1200x1200bf-60.jpg);
        background-repeat: no-repeat;
        background-size: 200%;
    }

    .main{
        margin: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: flex-start;
        background-color: rgba(218, 121, 250, 0.044);
        /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.933)), url(src/assets/images/1200x1200bf-60.jpg), ; */
        backdrop-filter: blur(100px);
    }

    .darken-background{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.575);
    }
}